*{
    margin: 0;
    padding: 0;
}
:root{
    --primary-color:white;
    --secondary-color:black;
    --shadow-color:rgb(218, 216, 216);

}
#main1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background:var(--primary-color);
}
#main{

    box-shadow: 2px 2px 10px 2px var(--shadow-color);
    width: 300px;
    border-radius: 40px;
    height: 80vh;    
    
    display: flex;
    background:var(--primary-color);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.details{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.now-playing{
    
    margin-top: 20px;
    font-size: x-large;
}
@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
    
}
.track-art{
    box-shadow: 0px 0px 5px 5px var(--shadow-color);
    border-radius: 50%;
    width:200px;
    background-image: url(music.jpg);
    height: 200px;
    margin: 20px 0;
    background-image: url();
    background-position: center;
    background-size: cover;
}
.track-name{
    text-align: center;
    width: 90%;
    height: 40px;
    text-overflow: ellipsis;
    word-break: keep-all;
    overflow-x: hidden;
    font-weight: bold;
    font-size: xx-large;
}
.track-artist{
    margin: 10px 0;

    font-size: larger;
}
.buttons{
    display: flex;
    width: 80%;
    margin: 10px 0;
    align-items: center;
    justify-content: space-evenly;
}
.prev-track,.next-track{
    color: var(--secondary-color);
}
.prev-track,.next-track,.playpause-track{
    cursor: pointer;
}
.slider_container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    height: 30px;
    
}
.slider_container1{
    margin-bottom: 50px;
}
.seek_slider{
    margin: 0 10px;
    width: 90%;
    cursor: pointer;
}
.volume_slider{
    margin: 0 10px;
    
    cursor: pointer;
}